.page {
  @apply h-screen text-center bg-gray-100;
}

.page__header {
  @apply relative bg-blue-500 text-white h-[200px] p-4;
}

.page__title {
  @apply absolute top-[calc(50%-2em)] left-1/2 -translate-y-1/2 -translate-x-1/2 text-2xl font-bold;
}

.page__content {
  @apply container absolute top-[100px] left-1/2 -translate-x-1/2 w-full max-w-[600px] mx-auto;
}

.page__title {
  @apply text-2xl font-bold;
}

.create {
  @apply bg-white p-1 rounded-lg;
}

.create__form {
  @apply flex;
}

.create__input {
  @apply w-full p-2 border-gray-200 rounded;
}

.create__button {
  @apply ml-2 px-4 py-2 text-white bg-blue-500 rounded;
}

.tasklist {
  @apply mt-4 p-4 bg-white rounded-lg;
}

.tasklist__item {
  @apply flex items-center py-4 pr-4 pl-8 border-b border-gray-200;
}

.tasklist__checkbox {
  @apply relative appearance-none cursor-pointer
  before:content-[''] before:absolute before:-left-7 before:-top-3
  before:w-6 before:h-6
  before:rounded-full before:border before:border-gray-500 before:bg-white
  before:checked:bg-blue-500 before:checked:border-transparent before:checked:border-0
  after:checked:absolute after:checked:-left-6 after:checked:-top-1.5
  after:checked:w-4 after:checked:h-2
  after:checked:border-l-2 after:checked:border-b-2 after:checked:border-white after:checked:-rotate-45;
}
