@use "../abstracts/variables" as var;

.create {
  @apply bg-white p-1 shadow-md rounded-lg;

  &__form {
    @apply flex;
  }

  &__input {
    @apply w-full p-2 border-gray-200 rounded;
  }

  &__button {
    @apply ml-2;
  }
}

.tasklist {
  @apply mt-4 p-4 text-start bg-white shadow-md rounded-lg;

  &__item {
    @apply flex items-center justify-between py-4 pr-0 pl-8 border-b border-gray-200;
  }

  &__left {
    @apply flex items-center w-[calc(100%-60px)];
  }

  &__title {
    @apply w-[calc(100%-1em)] ml-2 mr-2 text-start break-words;

    &--completed {
      @apply line-through text-gray-400;
    }
  }

  &__right {
    @apply flex justify-end gap-3 w-[60px];
  }

  &__save {
    @apply hidden;
    @apply button--small;
  }

  &__action {
    &:hover {
      opacity: 0.8;
      transition: opacity 0.2s;
    }
  }

  &__action-icon {
    @apply text-gray-600 cursor-pointer;

    &--edit {
      .tasklist__action:hover & {
        color: var.$color-main;
        transition: color 0.2s;
      }
    }
    &--delete {
      .tasklist__action:hover & {
        @apply text-red-500;
        transition: color 0.2s;
      }
    }
  }
  &__checkbox {
    @apply relative appearance-none cursor-pointer
    before:content-[''] before:absolute before:-top-1/2 before:-left-7 before:-translate-y-1/2
    before:w-6 before:h-6
    before:rounded-full before:border before:border-gray-500
    before:checked:border-transparent before:checked:border-0
    after:checked:content-[''] after:checked:absolute after:checked:-left-6 after:checked:top-[calc(50%-1px)] after:checked:-translate-y-1/2
    after:checked:w-4 after:checked:h-2
    after:checked:border-l-2 after:checked:border-b-2 after:checked:border-white after:checked:-rotate-45;

    &:hover:before {
      background-image: var.$color-main-gradient;
      opacity: 0.3;
    }
    &:hover:after {
      @apply content-[''] absolute -left-6 top-[calc(50%-1px)] -translate-y-1/2
      w-4 h-2
      border-l-2 border-b-2 border-white -rotate-45;
      opacity: 0.7;
    }
    &:checked:before {
      background-image: var.$color-main-gradient;
      opacity: 1;
    }
  }

  &__remaining-text {
    @apply mt-3;
  }
}
