$color-main: #1d4ed8;
$color-main-gradient: linear-gradient(to right, #1d4ed8, #7c3aed);
$color-main-gradient-3c: linear-gradient(to right, #1d4ed8, #7c3aed, #06b6d4);
$color-cancel-gradient-3c: linear-gradient(to right, #d1d5db, #9ca3af, #4b5563);
